---
import arrowLeft from '../../../public/icons/arrow-left.svg';
const { name, stack, link_repo, link_app, mainImage } = Astro.props;
---

<div class='w-full h-screen relative flex justify-end max-lg:justify-center'>
  <a
    href='/'
    class='absolute top-10 left-10 rounded-full bg-blue-400 p-2 transition hover:bg-blue-600 cursor-pointer max-lg:top-5 max-lg:left-5 z-20'
  >
    <img src={arrowLeft} class='w-10 h-10 max-lg:w-6 max-lg:h-6' />
  </a>

  <div
    class='absolute top-1/2 left-36 -translate-y-1/2 px-10 py-20 w-[30rem] h-auto bg-white shadow-md rounded-xl flex flex-col justify-center items-center space-y-20 max-lg:justify-center z-10 max-lg:left-1/2 max-lg:-translate-x-1/2 max-lg:w-3/4 max-lg:py-5 max-lg:px-5 max-lg:bg-transparent'
  >
    <h1
      class='font-bold text-5xl max-md:text-3xl max-lg:text-white animate-slideBottomTop'
    >
      {name}
    </h1>
    <!-- stack -->
    <div
      class='flex w-3/4 justify-center flex-wrap text-black text-sm mt-5 transition-all ease-in-out duration-700 space-x-3'
    >
      {
        stack.map((el: string[]) => (
          <span class='tag animate-slideBottomTop'>{el}</span>
        ))
      }
    </div>
    <!-- buttons -->
    <div
      class='flex w-full space-x-8 justify-center max-lg:flex-col max-lg:space-y-5 max-lg:space-x-0 max-lg:items-center'
    >
      <a
        href={link_repo}
        target='_blank'
        class='button-blue animate-slideBottomTop'
      >
        <svg
          class='w-8 h-8 max-sm:w-6 max-sm:h-6'
          viewBox='0 0 32 32'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M16 0.396c-8.839 0-16 7.167-16 16 0 7.073 4.584 13.068 10.937 15.183 0.803 0.151 1.093-0.344 1.093-0.772 0-0.38-0.009-1.385-0.015-2.719-4.453 0.964-5.391-2.151-5.391-2.151-0.729-1.844-1.781-2.339-1.781-2.339-1.448-0.989 0.115-0.968 0.115-0.968 1.604 0.109 2.448 1.645 2.448 1.645 1.427 2.448 3.744 1.74 4.661 1.328 0.14-1.031 0.557-1.74 1.011-2.135-3.552-0.401-7.287-1.776-7.287-7.907 0-1.751 0.62-3.177 1.645-4.297-0.177-0.401-0.719-2.031 0.141-4.235 0 0 1.339-0.427 4.4 1.641 1.281-0.355 2.641-0.532 4-0.541 1.36 0.009 2.719 0.187 4 0.541 3.043-2.068 4.381-1.641 4.381-1.641 0.859 2.204 0.317 3.833 0.161 4.235 1.015 1.12 1.635 2.547 1.635 4.297 0 6.145-3.74 7.5-7.296 7.891 0.556 0.479 1.077 1.464 1.077 2.959 0 2.14-0.020 3.864-0.020 4.385 0 0.416 0.28 0.916 1.104 0.755 6.4-2.093 10.979-8.093 10.979-15.156 0-8.833-7.161-16-16-16z'
          ></path>
        </svg>
        <span>Repositorio</span>
      </a>
      <a
        href={link_app}
        target='_blank'
        class='button-blue animate-slideBottomTop'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='w-8 h-8 max-sm:w-6 max-sm:h-6'
          viewBox='0 0 48 48'
          ><path
            d='M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z'
          ></path></svg
        >
        <span>Launch app</span>
      </a>
    </div>
  </div>

  <img
    src={mainImage}
    class='w-3/4 h-full object-cover max-lg:inset-0 max-lg:absolute max-lg:w-full'
  />
</div>
