---
import CodingImg from '../../public/images/coding.jpg';
import ContactMeSec from './ContactMeSec.astro';
import Footer from './Footer.astro';

import HeroProject from './project-page/HeroProject.astro';
import DescriptionSec from './project-page/DescriptionSec.astro';
import GoalsSec from './project-page/GoalsSec.astro';
import GridSec from './project-page/GridSec.astro';

const { project } = Astro.props;
---

<section class='relative'>
  <main class='overflow-x-hidden font-inter bg-slate-50'>
    <HeroProject
      name={project.data.name}
      stack={project.data.stack}
      link_repo={project.data.link_repo}
      link_app={project.data.link_data}
      mainImage={project.data.images[0]}
    />
    <DescriptionSec CodingImg={CodingImg}>
      <slot />
    </DescriptionSec>
    <GoalsSec goals={project.data.goals} />
    <GridSec images={project.data.images} />
    <ContactMeSec />
  </main>
  <Footer />
</section>
